<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <a href="/clientes/novo" class="btn btn-primary">Novo</a>
            <table class="table" id="tabclientes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Sexo</th>
                        <th>Telefone</th>
                        <th>Data de Nascimento</th>
                        <th>Cidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${listaClientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nome}"></td>
                        <td th:text="${cliente.endereco}"></td>
                        <td th:text="${cliente.sexo}"></td>
                        <td th:text="${cliente.telefone}"></td>
                        <td th:if="${cliente.dataNascimento}" th:text="${#dates.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></td>
                        <td th:unless="${cliente.dataNascimento}">Não Informada</td>
                        <td th:if="${cliente.cidadeResidencia}" th:text="${cliente.cidadeResidencia?.getNome()}"></td>
                        <td th:unless="${cliente.cidadeResidencia}">Não Informada</td>
                        <td>
                            <a th:href="@{'/clientes/alterar/'+ ${cliente.id}}" class="btn btn-warning">Alterar</a>
                            <button class="btn btn-danger js-delete" th:data-id="${cliente.id}">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </main>
        <div class="modal" tabindex="-1" id="modalcliente">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Excluir Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Confirma a exclusão do cliente?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btncancelar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
              </div>
            </div>
          </div>
        </div>
        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/script.js}"></script>
    </body>
</html>